<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet"> 
</head>
<body class="grey-bg">

    <!--<%= JSON.stringify(글목록) %> [{"_id":"655f5685fbe746ff3d3c80fe","title":"첫 게시물","content":"내용임 111"}, ...]-->
    
    <%- include('nav.ejs') %>
    
    <div class="white-bg">
        <% for (let i = 0; i < 글목록.length; i++){ %> <!--length는 array안의 데이터 갯수-->
        <div class="list-box">
            <h4><a href="/detail/<%= 글목록[i]._id %>"> <%= 글목록[i].title %> </a></h4>
            <p><%= 글목록[i].content %></p>
        </div>
        <% } %>
        <div class="time">
            <h6>Time : 현재 시각은 <%= time %> 입니다</h3>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous"></script>
</body>
</html>

