<!-- ejs(서버데이터를 집어서 HTML을 만든다)list로 접속하면 데이터들로 꾸민 html을 보여줌 -->

<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
    <title>Hello, world!</title>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Todo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Write</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">임시</a>
            </li>
          </ul>
        </div>
      </nav>
    
    <h4 class="ml-3 my-3" style="color : blue;">서버에서 가져온 할일 리스트</h4>

<!-- 서버에서 가져온 할일 리스트 만들기 => EJS 설치 => html과 비슷한데 서버데이터를 집어 넣을 수 있다-->
<!-- 서버에서 가져온 할일 리스트 -->
<!--<h4>할일 제목 : <%= postings[0].제목 %></h4>                     postings라고만 쓰면 server.js에서 array자료형인 object소환-->
<!--<p>할일 마감 날짜 : <%= postings[0].날짜 %></p>                  0번은, 첫번째 쓴 데이터 의미. -->
    
<!-- server.js의 posting : 결과기 때문에 아래 코드 입력이 반복수행해서 길이만큼 보여줌 
    <% for (var i = 0;  i < postings.length ; i++){ %>             데이터 길이만큼 post한 데이터 불러오기!
      <h4>할일 제목 : <%= postings[i].제목 %></h4>
      <p>할일 마감 날짜 : <%= postings[i].날짜 %></p>
      <button>삭제</button>     //delete, put은 html로는 안된다. 방법1 : method-override라이브러리, 방법2 : ajax이용해서 서버에서 삭제
      
  <% } %>      이거랑 부트스트랩이랑 합쳐서 아래 코드완성-->

    <ul class="list-group">  <!--데이터 보여주기(list페이지) + 반복문-->
      <% for (var i = 0;  i < postings.length ; i++){ %>             <!--데이터 길이만큼 post한 데이터 불러오기!-->
      <li class="list-group-item">
        <p>글번호 : <%= postings[i]._id%></p>
        <h4>할일 제목 : <%= postings[i].제목 %></h4>
        <p>할일 마감 날짜 : <%= postings[i].날짜 %></p>
        
        <button class="delete" data-id= "<%= postings[i]._id%>" >삭제</button>   <!--delete, put은 html로는 안된다. 방법1 : method-override라이브러리 
                               버튼에 아이디 부여 (data-id속성에 _id를 숨겨주세요)                  방법2 : ajax이용해서 서버에서 삭제-->
      </li>
      <% } %>
    </ul>


    <!-- 삭제 기능 구현을 위한 ajax 설정 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>   <!--jquery사용하기 위해서-->
    <script>  //ajax는 자바스크립트와 통신할 수 있는 용어. 새로고침이 필요없다.(jquery 혹은 js 사용)
      
      $('.delete').click(function(e){       //class가 delete인 버튼을 클릭 시 함수 실행
        var 글번호 = e.target.dataset.id;   //e.target(내가누른요소,지금내가클릭한것) + dataset-id(data-id).  ex)세번째글의 삭제 버튼을 누르면 3이 글번호로 저장
        var 지금누른거 = $(this)            //this? => 지금 이벤트가 동작하는 곳
        
        $.ajax({
          method : 'DELETE',             //뭘 할래?
          url : '/delete',               //경로 => 서버에 /delete 경로로 DELETE 요청 => 서버에서 DELETE요청 코드 필요(server.js)
          data : {_id : 글번호}     //하드코딩하면 안돼기 때문...요청과 함께 보낼 데이터. 삭제의 경우 '무엇을'삭제할것인가 의미. ex) {_id : 1} 이면 아이디가 1인 전송
                                         //해당 버튼을 눌렀을 때 해당 데이터가 삭제돼야한다. => 클릭한 버튼의 아이디  
      
      }).done(function(결과){                //(서버에서 응답 성공시)ajax요청이 성공 후 함수 실행
        
        console.log('성공했습니다.');      //브라우저 console창
        지금누른거.parent('li').fadeOut(); //바로반영이 안되므로 삭제된 것을 안보이게 해주자 => 누른것의 부모님 => li태그 를 fadeOut

    }).fail(function(){                    //요청 실패시 실행

    })
  })



    </script>












    <!--부트스트랩 위해서-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>